<!doctype html>
<html lang="es" class="no-js">
  <head>

    <link rel="stylesheet" href="http://www.chico-ui.com.ar/versions/0.7.9/chico-min-0.7.9.css">




    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='icon' href='http://vip.mlstatic.com/images/favicon__v80d758319a5.ico' type='image/vnd.microsoft.icon'/>
    <meta name="keywords" content="Suzuki Rmx 250 Potente, Autos, Motos y Otros, Motos, Cross, Trial y Enduro, Suzuki, 250 cc - 500 cc, comprar, vender, compra, venta, subasta, comprar, vender, compra, venta, subasta"/>
    <meta name="description" content="Suzuki Rmx 250 Potente, Autos, Motos y Otros, Motos, Cross, Trial y Enduro, Suzuki, 250 cc - 500 cc, comprar, vender, compra, venta, subasta. Comprar y vender en MercadoLibre"/>
    <title>
      Suzuki Rmx 250 Potente - $ 750.000 en MercadoLibre</title>
    <link rel="canonical" href="http://moto.mercadolibre.cl/MLC-36621757-suzuki-rmx-250-potente-_JM" />
    <link rel='stylesheet' type='text/css' href='http://vip.mlstatic.com/css/classified__v80d758319a5.gz.css' />
  </head>
  <body>
    <!--div itemscope itemtype="http://www.data-vocabulary.org/Product/" class="conteinerVip"-->
    <div class="header mainHeader ml home">
      <strong>
        <a class="ml-main-header-logo-es" href="http://www.mercadolibre.cl">
          MercadoLibre - Donde compras y vendes de todo	</a>
      </strong>


      <form id="formBusqueda" class="ml-main-header-search-bar" action="http://www.mercadolibre.cl/jm/search" method="get">
        <div class="buscador home">
          <input type="text" class="search home" maxlength="60" name="as_word" autocomplete="off" id="query" tabindex="1">
          <input type="submit" value="Buscar" class="btn secondary ml-main-header-search-button" accesskey="b" tabindex="2">
        </div>
        <div id="autosug_div">
        </div>
        <a rel="nofollow" class="btn secondary ml-main-header-sell-button" href="http://www.mercadolibre.cl/jm/syi4">
          Vender</a>
      </form>
    </div>

    <div class="nav path">
    </div>


     
      <div class="gallery ch-carousel">
        <ul>
          <li>
            <img src="http://img2.mlstatic.com/s_MLC_v_O_f_36621757_8160.jpg">
          </li>
          <li>
            <img src="http://img2.mlstatic.com/s_MLC_v_O_f_36621757_3617.jpg">
          </li>
          <li>
            <img src="http://img1.mlstatic.com/s_MLC_v_O_f_36621757_9403.jpg">
          </li>
          <li>
            <img src="http://img1.mlstatic.com/s_MLC_v_O_f_36621757_9157.jpg">
          </li>
        </ul>
      </div>
		<script type="text/javascript" src="http://www.chico-ui.com.ar/src/js/jquery.js"></script>
		<script type="text/javascript" src="http://www.chico-ui.com.ar/versions/0.7.9/chico-min-0.7.9.js"></script>
	
      <script type="text/javascript">
        $(".gallery").carousel();
      </script>


      <div class="infoProd" >
        <h1 itemprop="name">
          Suzuki Rmx 250 Potente</h1>
        <dl class="itemData">
          <dt>
          Precio:</dt>
          <dd class="placePrice">
          <strong class="price principal" itemprop="price">
            $ 750.000	</strong>
          </dd>
        </dl>

        <div class="article buy">
          <!-- Button for contact -->
          <form class="buy-btn" method="get" action="/question/make?from=is">
            <input type="hidden" value="MLC36621757" name="itemId"/>
            <input type="submit" id="makeQuest" class="btn primary makeQuestBtn" value="Contactar" title="Contactar al vendedor">
            </input>
          </form>
          <!-- Share component-->
          <!-- Component ILikeButtonBox-->
        </div>
        
      </div>
    <!-- footer START -->
    <div class="footer mainFooter">
      <ul>
        <li>
        <a href="http://www.mercadolibre.cl/chile/ml/org_theme.p_main?as_theme_id=NEW_SOBRE_ML">
          Sobre MercadoLibre</a>
        | </li>
        <li>
        <a href="http://www.mercadolibre.cl/chile/ml/p_loadhtml?as_menu=CSEG&amp;as_html_code=CSEG01">
          Centro de Seguridad</a>
        | </li>
        <li>
        <a href="http://www.mercadolibre.cl/sitemap.html">
          Mapa del Sitio</a>
        | </li>
        <li>
        <a href="http://www.mercadolibre.com">
          Ver otros pa&iacute;ses</a>
        </li>
      </ul>
      <hr>
      <p>
      El uso de este sitio web implica la aceptación de los <a target="_blank" href="http://www.mercadolibre.cl/seguro_terminos.html">
        Términos y Condiciones</a>
      y de las <a target="_blank" href="http://www.mercadolibre.cl/org-img/html/MLC/seguro_privacidad.html">
        Políticas de Privacidad</a>
      de MercadoLibre Chile Ltda. <br />
      Copyright © 1999-2011 MercadoLibre Chile Ltda. </p>
    </div>
    <!-- footer END -->
    <!--/div-->
    <div id="pmspxlimg">
    </div>
  </body>
</html>


